@model BlendedAdmin.Models.Items.FormViewModel
@inject BlendedAdmin.Services.IUrlServicecs urlService

@if (string.IsNullOrEmpty(Model.Title) == false)
{
    <h6>@Model.Title</h6>
}
<div class="text-danger validation-summary-errors" data-valmsg-summary="true">
    <ul>
        @foreach (var parameter in Model.Parameters.SelectMany(x => x).Where(x => x != null && string.IsNullOrWhiteSpace(x.Error) == false))
        {
            <li>@parameter.Error</li>
        }
    </ul>
</div>
<form class="form-horizontal" method="@(Model.Method)" action="@urlService.GetUrl()">
    @foreach (var row in Model.Parameters)
    {
        <div class="form-row">
        @foreach (var parameter in row)
        {
        <div class="form-group col-md-@(12/row.Length)">
            @Html.Partial("_FormParameter", parameter)
        </div>
        }
        </div>
    }
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Run</button>
    </div>
</form>