@model BlendedAdmin.Models.Items.TableViewModel
@inject BlendedAdmin.Services.IUrlService urlService
@inject IJsonHelper jsonHelper;
@using BlendedJS;

@if (string.IsNullOrEmpty(Model.Title) == false)
{
    <h6>@Model.Title</h6>
}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th  class="border-top-0" nowrap><a box-order="@column">@column</a></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    @foreach (var column in Model.Columns)
                    {
                        <td nowrap>
                            @{object value = row.GetValueOrDefault2(column);}
                            @if (value is BlendedAdmin.Js.HtmlView)
                            {
                                @Html.Raw(((BlendedAdmin.Js.HtmlView)value).GetValueOrDefault2("html", ""))
                            }
                            else
                            {
                                @row.GetValueOrDefault2(column).ToJsonOrString()
                            }
                        </td>
                    }
                </tr>
            }
            <tr></tr>
        </tbody>
    </table>
</div>
@if (Model.PrevioustPage || Model.NextPage)
{
<ul class="pagination pagination-sm mt-2">
    @if (Model.PrevioustPage)
    {
        <li class="page-item">
            <a class="page-link" href="@urlService.GetUrlWithQueryString(new { p = (Model.Page - 1).ToString()})">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </a>
        </li>
    }
    @if (Model.NextPage)
    {
        <li class="page-item">
            <a class="page-link" href="@urlService.GetUrlWithQueryString(new { p = (Model.Page + 1).ToString()})" aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    }
</ul>
}


