@inject BlendedAdmin.Services.ISiteMenuService siteMenuService

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky mt-2">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a class="text-secondary" asp-controller="Home" asp-action="Index">Dashboard</a>
            <a class="d-flex align-items-center text-muted" asp-controller="Items" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" color="#384047"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            </a>
        </h6>
        @{ 
            var items = await siteMenuService.GetMenuItems();
            var itemsWithoutCategory = items.Where(x => x.Children.Count == 0).ToList();
            var itemsWithCategory = items.Where(x => x.Children.Count > 0).ToList();
        }
        @if (itemsWithoutCategory.Count > 0)
        {
            <ul class="nav flex-column">
            @foreach (var item in itemsWithoutCategory)
            {
                <li class="nav-item">
                    <a class="nav-link @(item.IsActive ? "active" : "")" asp-controller="Items" asp-action="Run" asp-route-id="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text" color="#384047"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>@item.Name
                    </a>
                </li>
            }
            </ul>
        }
        @foreach (var item in itemsWithCategory)
        {
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>@item.Name</span>
            </h6>
            <ul class="nav flex-column">
                @foreach (var subItem in item.Children)
                {
                    <li class="nav-item">
                        <a class="nav-link @(subItem.IsActive ? "active" : "")" asp-controller="Items" asp-action="Run" asp-route-id="@subItem.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text" color="#384047"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>@subItem.Name
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</nav>
